@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-3a-green: #3ef198;
    --color-3a-red: #FF658A;
    --color-3a-white: #dedddc;
    --color-3a-paper: #868F84;
    --color-3a-gray: #424940;
    --color-3a-gray-darker: #212827;
    --color-3a-gray-darkest: #171c1a;
    --color-3a-black: #040505;
}


svg .logo-main-color {
    fill: var(--color-3a-white);
}

svg .logo-highlight-color {
    fill: var(--color-3a-green);
}

svg {
    overflow: visible;
}

html.lenis, html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}
